.slide-in {
  animation: slideIn 1s ease forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-top {
  animation: slideTop 1s ease forwards;
  opacity: 0;
}

@keyframes slideTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
